.fill-height {
  height: 100vh;
}

.login-background {
  background-color: #994EFE;
}

.v-theme--light .custom-header thead {
  background-color: #E0E0E0;
  color: #000;
  font-weight: bold;
}

.v-theme--dark .custom-header thead {
  background-color: #424242;
  color: #fff;
  font-weight: bold;
}
